// Flex
@import 'tool/flex';
// Position
@import 'tool/position';

.top  { top: 0; }
.right { right: 0; }
.bottom  { bottom: 0; }
.left  { left: 0; }

// Helpers





//
// utility
//

.invisible { color: transparent; }

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: block;
}
// some utility classes
.circle { border-radius: 50%; }


.w100 { width: 100%; }
.vw { width: 100vw; }
.h100 { height: 100%; }
.vh { height: 100vh; }
.vh50 { height: 50vh; }
.vh25 { height: 25vh; }
.vh15 { height: 15vh; }


@import 'tool/padding';
@import 'tool/margin';



.fs1 { font-size: 1em; }
.fs1-5 { font-size: 1.5em; }
.fs2 { font-size: 2em; }
.fs2-5 { font-size: 2.5em; }
.fs3 { font-size: 3em; }
.fs3-5 { font-size: 3.5em; }
.fs4 { font-size: 4em; }



.debug .flex{
    padding: .5em;
    margin: .5em;
    outline: 1px solid seagreen;
    & > * {
        outline: 1px solid #bada55;
        & > * {
            outline: 1px solid tomato;
            & > * {
                outline: 1px solid magenta;
                & > * {
                    outline: 1px solid gold;
                }
            }
        }
    }
}
.hidden {
    display: none;
}

.ov-hidden,
.over-hidden {
    overflow: hidden;
}
.over-y-auto {
    overflow-y: auto;
}


// Sort //

/* Colors */

$color-1: #333745;
$color-2: #e63462;
$color-3: #fe5f55;
$color-4: #c7efcf;
$color-5: #eef5db;

.bg {
    &-1 { background-color: $color-1; }
    &-2 { background-color: $color-2; }
    &-3 { background-color: $color-3; }
    &-4 { background-color: $color-4; }
    &-5 { background-color: $color-5; }

    &-cover {
        
    }
}


// vw + vh
.full {
    @include size(100vw 100vh);
    position: relative;
}

.half {
    @include size(50vw 100vh);
}