/*****************************************************************************/
/*
/* Page
/*
/*****************************************************************************/

$page-padding: 3em;

.page {
	/*
	 * rip some stuff out to get a better flexible build suite
	 *
	 * Full
	 * @include size(100vw 100vh);
	 *
	 * Container
	 * padding: 3em;
	 *
	 * Flex
	 * display: flex;
	 * align-items: center;
	 * justify-content: center;
	 * flex-direction: column;
	 *
	**/
	
	color: white;

	// > * { position: relative; }

	p {
		max-width: 33em;
		margin: 0 auto;
		text-align: center;
		line-height: 2;
		font-size: 1em;
	}
	
	&__background {
		// fullbleed
		@include position(absolute, 0);
		// @include size(100vw 100vh);
		min-height: 100vh;
		object-position: center center;
		object-fit: cover;


	}

	&--half {
		
		&.left {
			left: 0;
			background-color: green;
		}

		&.right {
			right: 0;
			background-color: red;
		}
	}
}


.page--half {
	@include position(absolute, 0 null);
	@include flex-vertical-center;
	width: 50vw;
}

// .page--1,
// .page--2,
.page--3,
.page--4,
.page--5 
{ display: none; }




