@import "bourbon";
@import "reset";
@import "syntax";

/* Tools */
// @import "/node_modules/normalize.css/normalize.css"; // this would be nice to have!
@import "0-normalize";
@import "0-utility";
@import "0-mixins";
// @import "0-variables";


/* Base */
@import '1-base';

// Components
@import '2-page';
@import '2-line';
@import '2-menu';
@import '2-corners';


// vw + vh
.full {
	@include size(100vw 100vh);
	position: relative;
}

.half {
	@include size(50vw 100vh);
}

.r-children {
	
	> span, 
	> div { 
		position: relative; 
	}

	> span.line { left: inherit; }
}

$grey: grey;
.bg {
	
	&-grey,
	&-gray, 
	&-g { 
		background-color: grey;		
	}

	&-white,
	&-w {
		background-color: #fff;
	}

	&-black,
	&-b {
		background-color: #000;
	}

}

.fs-2 { font-size: 2em; }
.fs-4 { font-size: 4em; }


img.portrait {
	max-width: 375px;
}

.ta {
	&-left, &-l { 
		text-align: left; 
	}
}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5 {
	background-color: dodgerblue;
}