@import "bourbon";
@import "reset";
@import "syntax";

@import "3_fonts";
@import "2_vars";
@import "1_common";
@import "4_all";

/* Tools */
// @import "/node_modules/normalize.css/normalize.css"; // this would be nice to have!
@import "0-normalize";
@import "0-utility";
@import "0-mixins";
// @import "0-variables";


/* Base */
@import '1-base';

// Components
@import '2-page';
@import '2-line';
@import '2-menu';
@import '2-corners';


// vw + vh
.full {
	@include size(100vw 100vh);
	position: relative;
}

.half {
	@include size(50vw 100vh);
}

p {
	color: blue;
}

.r-children {
	
	> span, 
	> div { 
		position: relative; 
	}

	> span.line { left: inherit; }
}