//- mock menu
nav.menu.absolute.top.right.bottom.flex-vert.middle.p-2.isHidden
	a(href="#").menu__link.pb-1 Who We Are
	a(href="#").menu__link.pb-1 What We Did
	a(href="#").menu__link.pb-1 When We Met
	a(href="#").menu__link.pb-1 Where it happened
	a(href="#").menu__link.pb-1 Why we did it

	a(href="#").menu__link--super.absolute.w100.flex-vert.f-middle.f-center Stay in touch
		span
			i.fa.fa-arrow-right