section#page--3.page.full.p-3.flex-vert.f-middle
	
	//- an image bg
	img(src="https://unsplash.it/1440/1000?random").page__background
	
	//- Lines
	.line__wrapper.100vh.absolute.center-x.flex-vert.f-top.f-center
		span.line
		span.p-1
			i.fa.fa-arrow-up
		span.line.line--long
		span.line.line--long.absolute.bottom

	//- logo icon 
	.hasText.relative.bg-2
		span.page__icon
			i.fa.fa-flag
	
		p This is the start of the end. Welcome to Acquired Taste Club. Goodbye, and thanks.
		p Whatever shoreditch bicycle rights, vinyl affogato ennui microdosing art party cold-pressed tofu stumptown. Glossier lyft etsy, activated charcoal typewriter subway tile chillwave offal neutra tofu organic vexillologist tattooed blog. Semiotics street art paleo literally craft beer heirloom, gentrify hella raw denim vinyl. Man braid ethical air plant blue bottle. Before they sold out chartreuse squid snackwave. Pitchfork four dollar toast synth health goth, tacos pinterest deep