section#page--1.page.full.p-3.flex-vert.f-middle
	
	//- an image bg
	img(src="https://unsplash.it/1440/1000?random").page__background
	
	//- Lines
	.line__wrapper.100vh.absolute.center-x.flex-vert.f-top.f-center
		span.line.line--long
		span.p-1
			i.fa.fa-arrow-up
		span.line.line--long.absolute.bottom

	//- logo icon 
	.hasHeadline.relative.bg-2
		h1 emptyy 