section.page.page--1
	
	//- an image bg
	img(src="https://unsplash.it/1440/1000?random").page__background
	
	//- Lines
	.line__wrapper
		.line.line--top		

	//- logo icon 
	span.page__icon
		i.fa.fa-arrow-up
	
	h1 acquired taste club