section#page--5.page.full.flex.bg-3

	.half.no-grow.relatvie.bg-5.flex-vert.f-middle.f-center
		p {{ site.sample-text }}

	.half.no-grow.relative.bg-4.ov-hidden.flex-vert.f-middle.f-right
		img(src="https://unsplash.it/720/1000").page__background
	
	.line__wrapper.100vh.absolute.center-x.flex-vert.f-center
		span.line
		span.p-1
			i.fa.fa-arrow-up
		span.line.line.absolute.bottom
