
<section id="page--4" class="page full flex bg-3">
  <div class="half no-grow relative bg-4 ov-hidden flex-vert f-middle f-right"><img src="https://unsplash.it/720/1000" class="page__background"/></div>
  <div class="half no-grow relatvie bg-1 flex-vert f-middle f-center"><img src="https://unsplash.it/720/1000" class="page__background"/>
    <h1>Who We Are</h1>
  </div>
  <div class="line__wrapper 100vh absolute center-x flex-vert f-center"><span class="line"></span><span class="p-1"><i class="fa fa-arrow-up"></i></span><span class="line line absolute bottom"></span></div>
</section>